@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
        @apply py-1 px-3 text-white bg-flexprimary transition duration-200 ease-in-out hover:-translate-y-1 hover:scale-105 hover:shadow-lg hover:shadow-blue-500/40 rounded text-base hover:bg-blue-500 items-center inline-flex
    }

    .btn-secondary {
        @apply py-1 px-3 text-white bg-slate-700 transition duration-200 ease-in-out hover:-translate-y-1 hover:scale-105 hover:shadow-lg hover:bg-slate-600/40 rounded text-base hover:bg-slate-600 items-center inline-flex
    }
}