@{
    ViewData["Title"] = "About";
}

<section class="bg-slate-900 font-normal text-white pb-16">
        <div class="container md:mx-auto">

            <h1 class="text-3xl font-medium text-center pb-2">Omkring os</h1>
            <div class="bg-slate-700 w-1/6 h-1 rounded-lg mx-auto mb-3"></div>
            <p class="text-lg text-gray-400 text-center mb-5">Hvad er formålet med Fraværsflex.dk?</p>

            <div class="grid mx-6 space-y-4 md:space-y-0 grid-cols-1 lg:grid-cols-3 space-x-0 md:space-x-4 ">

                <div class="bg-slate-900 rounded-xl p-4 transition duration-200 ease-in-out hover:-translate-y-1 hover: hover:scale-105 hover:shadow-xl hover:shadow-black/60">
                    <div class="flex flex-col lg:flex-row justify-items-center">
                    <div class="flex w-16 h-16 rounded-full bg-flexprimary text-center justify-center mx-auto lg:mx-0 shadow-lg shadow-flexprimary/50">
                        <h1 class="text-white text-2xl font-semibold font-mono mb-auto mt-auto">1</h1>
                    </div>
                    <h1 class="text-center text-gray-200 font-sans text-3xl font-bold  mb-auto mt-auto lg:pl-6">Åbenhed</h1>
                    </div>
                    <p class="text-gray-400 text-m pt-6 text-center lg:text-left">Dette er en paragraf på mit kort. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat dolore vel pariatur, sequi illum animi veniam corporis neque cumque at quas omnis alias id? Accusamus culpa perferendis est labore quo!</p>
                </div>

                <div class="bg-slate-900 rounded-xl p-4 transition duration-200 ease-in-out hover:-translate-y-1 hover:scale-105 hover:shadow-xl hover:shadow-black/60">
                    <div class="flex flex-col lg:flex-row">
                    <div class="flex w-16 h-16 rounded-full bg-flexprimary text-center justify-center mx-auto lg:mx-0 shadow-lg shadow-flexprimary/40">
                        <h1 class="text-white text-2xl font-semibold font-mono mb-auto mt-auto">2</h1>
                    </div>
                    <h1 class="text-center text-gray-200 font-sans text-3xl font-bold  mb-auto mt-auto lg:pl-6">Motivation</h1>
                    </div>
                    <p class="text-gray-400 text-m pt-6 text-center lg:text-left">Dette er en paragraf på mit kort. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat dolore vel pariatur, sequi illum animi veniam corporis neque cumque at quas omnis alias id? Accusamus culpa perferendis est labore quo!</p>
                </div>

                <div class="bg-slate-900 rounded-xl p-4 transition duration-200 ease-in-out hover:-translate-y-1 hover:scale-105 hover:shadow-xl hover:shadow-black/60">
                    <div class="flex flex-col lg:flex-row">
                    <div class="flex w-16 h-16 rounded-full bg-flexprimary text-center justify-center mx-auto lg:mx-0 shadow-lg shadow-flexprimary/40">
                        <h1 class="text-white text-2xl font-semibold font-mono mb-auto mt-auto">3</h1>
                    </div>
                    <h1 class="text-center text-gray-200 font-sans text-3xl font-bold  mb-auto mt-auto lg:pl-6">Frygt</h1>
                </div>
                    <p class="text-m pt-6 text-gray-400 text-center lg:text-left">Dette er en paragraf på mit kort. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat dolore vel pariatur, sequi illum animi veniam corporis neque cumque at quas omnis alias id? Accusamus culpa perferendis est labore quo!</p>
                </div>
            </div>
          
        </div>
    </section>
