@model fravaersflexer.Models.Person;
@{
    ViewData["Title"] = "Register";
}
<h1>@ViewData["Title"]</h1>


    <div class="container mx-auto">
      <div class="">
        <form asp-controller="Home" asp-action="RegisterAbsence" class="flex flex-col bg-slate-600 min-w-max">
            <div class="">
                <label class="">Navn:</label>
                <input title="" asp-for="Name" type="text" />
            </div>
            <div>
                <label class="">Alder:</label>
                <input asp-for="AbsencePercentage" type="text" />
            </div>
            <div>
                <label class="">Årgang:</label>
                <input asp-for="ClassName" type="text" />
            </div>
            <div>
                <label class="">Skole:</label>
                <input asp-for="SchoolName" type="text" />
            </div>
            <div>
                <label class="">Uddandelse:</label>
                <input asp-for="EducationName " type="text" />
            </div>
            <div>
                <label class="">Fraværsprocent:</label>
                <input asp-for="AbsencePercentage" type="text" />
            </div>

            <button type="submit" value="Other" class="btn-primary bg-flexprimary">Create</button>
            
        </form>
      </div>

</div>